<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="Work commute carpool, Ride-sharing for commuters, Carpooling app for work, Lift club app for commuters, Join a carpool for work, Work carpooling service, Commuter ride-sharing, Find a work commute buddy, Share rides to work, Carpool network for employees, Sustainable commuting solutions, Save on commuting costs, Reduce carbon footprint commuting, Daily commute sharing, Commute carpool matching, Eco-friendly work travel, Carpool to the office, Share work rides, Daily commute carpool app, Work commute ride-share platform">
    <meta name="description"
          content="Connect with commuters who share your route and schedule, reducing costs and environmental impact. Join our platform today to find your next lift club.">
    <link rel="shortcut icon" href="/images/workrideclublogo.png"/>
    <title>Work Ride Club</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <link rel="stylesheet" href="/css/modal.css">
    <!-- Font Icon -->
    <link rel="stylesheet" href="/fonts/material-icon/css/material-design-iconic-font.min.css">

</head>
<body class="is-boxed has-animations">


<div class="body-wrap boxed-container">
    <header class="site-header">
        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand">
                    <h1 class="m-0">
                        <a href="#">
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title>Evelyn</title>
                                <defs>
                                    <radialGradient cy="0%" fx="50%" fy="0%" r="100%" id="logo-gradient">
                                        <stop stop-color="#FFF" offset="0%"/>
                                        <stop stop-color="#FFF" stop-opacity=".24" offset="100%"/>
                                    </radialGradient>
                                </defs>
                                <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                                      fill="url(#logo-gradient)" fill-rule="evenodd"/>
                            </svg>
                        </a>
                    </h1>
                </div>

            </div>
        </div>
    </header>

    <main>
        <section class="hero text-light text-center">
            <div class="container-sm">
                <h1 class="hero-title h2-mobile mt-0 is-revealing">Work Ride Club</h1>
                <!-- Sign up form -->
                <section class="signup">
                    <div class="container">
                        <div class="signup-content">
                            <div class="signup-form">
                                <h2 class="form-title">Thank you</h2>
                                <p><h6>Our dedicated commute matchmakers are already working diligently to discover the perfect commute match for you.</h6></p>
                                <p>We will be in contact soon</p>
                            </div>
                            <div class="signup-image">
                                <p></p>
                                <figure><img src="/images/undraw_a_whole_year_vnfm.png" alt="sing up image"></figure>

                            </div>
                        </div>
                    </div>
                </section>
            </div>


        </section>


    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="site-footer-inner">
                <div class="brand footer-brand">
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <title>Evelyn</title>
                            <defs>
                                <radialGradient cy="0%" fx="50%" fy="0%" r="100%" id="logo-gradient-footer">
                                    <stop stop-color="#00A2B8" offset="0%"/>
                                    <stop stop-color="#00F9D2" offset="100%"/>
                                </radialGradient>
                            </defs>
                            <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                                  fill="url(#logo-gradient-footer)" fill-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
                <ul class="footer-social-links list-reset">
                    <li>
                        <a href="https://www.facebook.com/profile.php?id=61552383065675&mibextid=ZbWKwL">
                            <span class="screen-reader-text">Facebook</span>
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                                      fill="#0EB3CE"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer-copyright">&copy; 2023 Work Ride Club, all rights reserved</div>
            </div>
        </div>
    </footer>
</div>

<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Notification</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="toast-message">
        </div>
    </div>
</div>

<script src="/js/main.min.js"></script>

</body>
</html>
